@tailwind base;
@tailwind components;
@tailwind utilities;

/* Disable highlight color on tap */
html {
  -webkit-tap-highlight-color: transparent;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 7px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: hsl(var(--input));
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: hsl(var(--border));
}

/* Scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--border)/0.8);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --border: 262 17% 81%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;

    --success: 144 100% 26%;
    --warning: 47 100% 53%;
    --danger: 0 72% 50%;
    --transluced: 132 100% 1% / 0.25;
    --swiper-pagination-color: hsl(var(--primary-foreground));

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --border: 247 10% 15%;
    --input: 227 25% 5%;
    --ring: 262.1 83.3% 57.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes overlay-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes overlay-hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes content-show {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes content-hide {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

@keyframes menu-show {
  from {
    opacity: 0;
    transform: scale(0.5) translate(10%, -50%);
  }
  to {
    opacity: 1;
    transform: scale(1) translate(0, 0);
  }
}

@keyframes menu-hide {
  from {
    opacity: 1;
    transform: scale(1) translate(0, 0);
  }
  to {
    opacity: 0;
    transform: scale(0.5) translate(10%, -50%);
  }
}

@keyframes submenu-show {
  from {
    opacity: 0;
    transform: translate(2%, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes submenu-hide {
  from {
    opacity: 1;
    transform: translate(0, 0);
  }
  to {
    opacity: 0;
    transform: translate(2%, 0);
  }
}

@keyframes chat-show {
  from {
    opacity: 0;
    transform: scale(0.5) translate(30%, 40%);
  }
  to {
    opacity: 1;
    transform: scale(1) translate(0, 0);
  }
}

@keyframes chat-hide {
  from {
    opacity: 1;
    transform: scale(1) translate(0, 0);
  }
  to {
    opacity: 0;
    transform: scale(0.5) translate(30%, 40%);
  }
}
