NEXT_PUBLIC_REGION=aws-region # Change this to your region
NEXT_PUBLIC_BOT_NAME=BOT-NAME # Change this to the name of your bot
NEXT_PUBLIC_BOT_ID=BOT-ID # Change this to the ID of your bot
NEXT_PUBLIC_BOT_ALIAS_ID=BOT-ALIAS # Change this to the ID of your bot alias

NEXT_PUBLIC_USER_POOL_ID=aws-region_user-pool-id # Change this to the ID of your user pool
NEXT_PUBLIC_USER_POOL_CLIENT_ID=user-pool-cliend-id # Change this to the ID of your user pool client
NEXT_PUBLIC_IDENTITY_POOL_ID=aws-region:cognito-identity-pool-id # Change this to the ID of your identity pool